<div class= "message <%= message.user_id == current_user.id ? 'me' : 'other'%>">
  <div class= "pic_name">
    <%= message.user.nick_name %>
  </div>
  <div class="content">
    <%= message.content %>
  </div>
</div>
