<div class= "me">
  <div class= "pic_name">
    <div class = "avatar">
      <%= image_tag message.user.avatar.url, class: "user-avatar rounded-circle", width: "50px" if message.user.avatar.present? %>
    </div>
  </div>
  <div class="content">
    <%= simple_format(message.content) %>
  </div>
</div>
