<div class= "other">
  <div class= "pic_name">
    <div class = "avatar">
      <%= image_tag message.user.avatar_url, class: "user-avatar rounded-circle", width: "50px" %>
    </div>
  </div>
  <div class="content">
    <%= simple_format(message.content) %>
  </div>
</div>
