<div class="user-item-<%= user.id %> user-item">
  <%= link_to chats_path(user_id: user), method: :post, style: "display: inline-block" do %>
    <%= image_tag user.avatar_url, class: "user-avatar", width: "50px", style: "border-radius: 50%" %>
    <span class="user-name"><%= user.nick_name %></span>
  <% end %>
</div>
