<% if user_signed_in? %>
<nav class="index-nav w-100">
  <div class="nav nav-tabs w-100 text-center" id="nav-tab" role="tablist">

    <a class="nav-link flex-grow-1" href="<%= posts_path %>"><i class="fas fa-home"></i></a>

    <a class="nav-link flex-grow-1" href="<%= searches_path %>"><i class="fas fa-search"></i></a>

    <a class="nav-link flex-grow-1" href="<%= new_post_path %>"><i class="far fa-plus-square"></i></a>

    <a class="nav-link flex-grow-1" href="#"><i class="far fa-heart"></i></a>

    <a class="nav-link flex-grow-1" href="<%= user_path(current_user) %>"><i class="fas fa-user"></i></a>
  </div>
</nav>
<% end %>
