<div class="container-fluid bubble-bg-color fixed-top">
  <div class="wrap">
    <nav class="py-2 d-flex justify-content-between align-items-center">
      <a href="#" class="camera p-1" style="font-size: 20px;">
        <i class="fas fa-camera"></i>
      </a>
      <%= link_to root_path, class: "logo" do %>
      <h1 class="h4 mb-0">BubbleGram</h1>
      <% end %>

      <%= link_to chats_path, class: 'chat p-1' do %>
      <i class="far fa-comment-alt"></i>
      <% end %>
    </nav>
  </div>

</div>
