<div class="container-fluid bubble-bg-color position-fixed" style="z-index: 100; top: 0px; left: 0px;">
  <nav class="py-2 d-flex justify-content-between align-items-center">
    <a href="#" class="camera p-1" style="font-size: 20px;">
      <i class="fas fa-camera"></i>
    </a>
    <a href="<%= posts_path %>" class="logo">
      <h1 class="h4 mb-0">BubbleGram</h1>
    </a>
    <%= link_to chats_path, class: 'chat p-1' do %>
      <i class="far fa-comment-alt"></i>
    <% end %>
  </nav>
</div>
