<div class="container-fluid bubble-bg-color position-fixed" style="z-index: 100;">
  <nav class="py-2 d-flex justify-content-between align-items-center">
    <a href="#" class="camera p-1" style="font-size: 20px; color: #000;">
      <i class="fas fa-camera-retro"></i>
    </a>
    <a href="#" class="logo">
      <h1 class="h4 mb-0">BubbleGram</h1>
    </a>
    <a href="#" class="chat p-1" style="font-size: 20px; color: #000;">
      <i class="far fa-comment-alt"></i>
    </a>
  </nav>
</div>



<div>
  <% if user_signed_in? %>
  <span>
    Hello, <%= current_user.email %>
  </span>

  <%= link_to "登出", destroy_user_session_path, method: :delete %>
  <% else %>
  <% end %>
</div>
