<div class="container-fluid container-md">

  <h1>文章總覽</h1>

  <div class="limit-video d-flex justify-content-around text-center">
    <div class="users">
      <div class="pic">
        <img src="https://picsum.photos/50/50" alt="" class="w-100 h-100 rounded-circle align-middle img-fluid">
      </div>
      <div class="users-account">
        <small>jerry</small>
      </div>
    </div>
    <div class="users">
      <div class="pic">
        <img src="https://picsum.photos/50/50" alt="" class="w-100 h-100 rounded-circle align-middle img-fluid">
      </div>
      <div class="users-account">
        <small>jerry</small>
      </div>
    </div>
    <div class="users">
      <div class="pic">
        <img src="https://picsum.photos/50/50" alt="" class="w-100 h-100 rounded-circle align-middle img-fluid">
      </div>
      <div class="users-account">
        <small>jerry</small>
      </div>
    </div>
    <div class="users">
      <div class="pic">
        <img src="https://picsum.photos/50/50" alt="" class="w-100 h-100 rounded-circle align-middle img-fluid">
      </div>
      <div class="users-account">
        <small>jerry</small>
      </div>
    </div>
    <div class="users">
      <div class="pic">
        <img src="https://picsum.photos/50/50" alt="" class="w-100 h-100 rounded-circle align-middle img-fluid">
      </div>
      <div class="users-account">
        <small>jerry</small>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-7 px-0 pb-3 following-posts post-load-target" data-is-end="not yet">
      <%= render partial: "/posts/post", collection: @posts, as: :post %>
    </div>
  </div>
</div>
