@import "~bootstrap/scss/bootstrap";
#spread-btn{
  z-index: -100;
  opacity: 0;
  pointer-events: none;
}
#btn-bg{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
  display: none;
}
#btn-bg.open{
  display: block;
}
.bubble-btn{
  opacity: 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 50px;
  height: 50px;
  background: #7fcfd6;
  color: #fff;
  border-radius: 50%;
  z-index: -10;
  transition: all .3s ease;
  line-height: 50px;
  text-align: center;
}
.github-link a{
  color: #aaa;

  &:hover{
    color: #7fcfd6;
  }
}
#spread-btn:checked ~ .btn-1{
  opacity: 1;
  top: -250%;
}
#spread-btn:checked ~ .btn-2{
  opacity: 1;
  top: -150%;
  transform: translateX(90%);
}
#spread-btn:checked ~ .btn-3{
  opacity: 1;
  top: -150%;
  transform: translateX(-185%);
}

.bubble-bg-color{
  background-color: #fff;
  border-bottom: .5px solid rgb(219, 218, 218);
  //background: linear-gradient(180deg, #9b90c2, #f5f5f5);
}
.form-control:valid,
.form-control.is-valid{
    border-color: #ced4da !important;
    padding-right: .75rem !important;
    background: none !important;
}

h4.user-signup-title,
.partial-title{
  position: absolute;
  top: 0;
  left: 0;
  height: 52px;
  line-height: 54px;
  // border-bottom: 0.5px solid #dbdada;
  font-weight: 100;
  letter-spacing: 2px;
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}


.field-sign-up input:focus ~ label,
.post-content textarea:focus ~ label,
.user-edit-group input:focus ~ label,
.user-edit-group textarea:focus ~ label{
  color: #7fcfd6;
}
.field-sign-up input:focus ~ .underline::before, .underline::after,
.post-content textarea:focus ~ .underline::before, .underline::after,
.user-edit-group input:focus ~ .underline::before, .underline::after,
.user-edit-group textarea:focus ~ .underline::before, .underline::after,
.comment input:focus ~ .underline::before, .underline::after{
  transform: scaleX(1);
}
nav{
  display: flex;
  align-items: center;
  text-decoration: none;
  .logo{
    text-decoration: none;
    //color: #6a4c9c;
    .h4{
      background: linear-gradient(to left,  rgb(3, 159, 165) 0%, #012929 100%);
	    -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
      font-family:'Great Vibes',cursive;
    }
    .h6{
      margin: 0;
    }
  }
  .icon{
    margin-left: auto;
    a{
      color: #000000;
      font-size: 14px;
      padding: 0 5px;
      transition: .3s ease;
      &:hover{
        color: #fff2cc;
      }
    }
  }
  .chat{
    font-size: 20px;
    color:rgb(139, 139, 139);
  }
}
.limit-video{
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
  .pic{
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 3px solid transparent;
    border-image: linear-gradient(to right, rgb(113, 78, 176) 0%, rgb(249, 145, 189) 100%);
    border-image-slice: 1;
    padding: 2px;
  }
}

.user-post{
  .user-photo{
    width: 35px;
    height: 35px;
  }
  .btn{
    padding: 0;
  }
  .post-pic{
    height: 300px;
  }
    .post-position{
      font-weight: 300;
      font-size: 12px;
    }
  }

  .container .wrap{
    max-width: 740px;
    margin: auto;
  }
img{
  object-fit: cover;
}

.chat-path{
  position: relative;
  .message-dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    left: 15px;
    right: 0;
    margin: auto;
    background-color: rgb(197, 64, 64);
  }
}

.post-load-page, .post-show{
  .owl-carousel {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    .owl-dots {
      position: absolute;
      bottom: -41px;
    }
  }
}

.owl-dot.active span{
  background-color: #7fcfd6 !important;
}

.form-error-message {
  position: absolute;
  top: 5px;
  right: 0;
  color: red;
}
