@import "~bootstrap/scss/bootstrap";

.bubble-bg-color{
  background-color: #fff;
  border-bottom: .5px solid rgb(219, 218, 218);
  //background: linear-gradient(180deg, #9b90c2, #f5f5f5);
}

nav{
  display: flex;
  align-items: center;
  text-decoration: none;
  .logo{
    text-decoration: none;
    //color: #6a4c9c;
    .h4{
      background: linear-gradient(to left,  rgb(3, 159, 165) 0%, #012929 100%);
	    -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
      font-family:'Great Vibes',cursive;
    }
    .h6{
      margin: 0;
    }
  }
  .camera{
    color:rgb(139, 139, 139);
  }
  .icon{
    margin-left: auto;
    a{
      color: #000000;
      font-size: 14px;
      padding: 0 5px;
      transition: .3s ease;
      &:hover{
        color: #fff2cc;
      }
    }
  }
  .chat{
    font-size: 20px;
    color:rgb(139, 139, 139);
  }
}
.limit-video{
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
  .pic{
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 3px solid transparent;
    border-image: linear-gradient(to right, rgb(113, 78, 176) 0%, rgb(249, 145, 189) 100%);
    border-image-slice: 1;
    padding: 2px;
  }
}

.col-12{
  .user-photo{
    width: 35px;
    height: 35px;
  }
  .btn{
    padding: 0;
  }
  .post-pic{
    height: 300px;
  }
    .post-position{
      font-weight: 300;
      font-size: 12px;
    }
  }

  .container .wrap{
    max-width: 740px;
    margin: auto;
  }
