.user-header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 740px;
  width: 100%;
  margin:auto;
  background-color: rgb(245, 245, 245);
  z-index: 2;
  border-bottom: 1px solid rgb(209, 209, 209);
  .user-name{
    text-align: center;
    letter-spacing: 2px;
    line-height: 50px;
  }
}
.chat-user-container{
  max-width: 740px;
  width: 100%;
  margin: auto;

}




.chat-user{
  display: flex;

  .chat-user-pic{
    position: relative;

    .online-dot{
      width: 10px;
      height: 10px;
      background-color: rgb(97, 228, 10);
      position: absolute;
      border-radius: 50%;
      right: 2px;
      bottom: 2px;
    }
  }

  .chat-user-info{
    padding-top:5px;
    margin-left: 10px;
    .unread-messages,
    .online-text{
      font-size:12px;
    }
    .off-line{
      display: none
    }
  }
  .message-notice-dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(71, 125, 241);
    align-self: center;
    margin-left: auto;
    margin-right: 30px;
  }
}
.chat-user + .chat-user{
  margin-top:10px;
}
