.login-form{
  a{
   color: rgb(92, 187, 195);
  }
}
.password-label,
.email-label{
  margin: 0 0 0 15px;
  font-size: 22px;
  color: rgb(127, 207, 214);
  // rgb(92, 187, 195)
}

.btn-login{
  background: rgb(127, 207, 214);
  color: #ffffff;
  padding: 13px 0;
  border-color: transparent;
  letter-spacing: 2px;
  transition: .6s;
}
.btn-login:hover{
  background: rgb(69, 192, 203);
  color: #ffffff;
}
.go-btn,
.fb-btn{
  background-color: transparent;
  color: rgb(127, 207, 214);
  border-color: rgb(127, 207, 214);
  height: 51px;
  line-height: 51px;
  padding: 0;
  border-radius: 50px;
}
.fb-btn:hover{
  background-color: #395692;
  color: #ffffff;;
}


.go-btn:hover{
  background-color: #f2594e;
  color: #ffffff;
  border-color:#f2594e ;
}
.invalid-feedback{
  text-align: center;
}
