.message_box{
  margin-top: -70px;
  height: calc(100vh - 50px);
  .message_container{
    height: 100%;
    position: relative;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;

    .message_text_header{
      box-sizing: border-box;
      padding: 10px;
      border-bottom: 1px solid #ccc;
    }
    .message_text_area{
      height: calc(100% - 130px);
      overflow: auto;
      padding: 0 20px;
      box-sizing: border-box;

      #unread-line{
        text-align: center;
      }

      .message + .message{
        margin-bottom: 20px;
      }

      .message{
        .pic_name{
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        .content{
          padding: 5px 15px;
          word-break: break-word;
          border-radius: 20px;
          align-self: center;
        }

        .pic{
          img{
            width: 100%;
            height: 100%;
            border-radius: 10px;
          }
        }
      }

      .other{
        display: flex;
        align-items: flex-start;
        padding-right: 10%;

        .content{
          margin-left: 10px;
          background-color: rgb(238, 235, 235);
        }

        .pic{
          margin-left: 10px;
          border: 1px solid black;
          border-radius: 10px;
        }
      }

      .me{
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        padding-left: 10%;

        .content{
          order: -1;
          margin-right: 10px;
          background-color: rgb(219, 238, 250);
          color: rgb(49, 49, 49);
        }

        .pic{
          order: -1;
          margin-right: 10px;
          border: 1px solid black;
          border-radius: 10px;
        }
      }
    }

    .searchbar{
      position: absolute;
      bottom: 15px;
      left: 0;
      right: 0;

      width: 95%;
      height: 33px;

      display: flex;
      border: 1px solid #ccc;
      border-radius: 20px;
      box-sizing: border-box;
      padding: 15px;
      margin: auto;
      align-items: center;

      background-color: #fff;

      form{
        flex-grow: 1;
        display: flex;

        #message_content{
          width: 100%;
          padding: 3px 5px;
          box-sizing: border-box;
          border: none;
          background-color: transparent;
          &:focus{
            outline: none;
            background: transparent;
          }
        }

        input[type='submit']{
          margin-left: auto;
          // width: 15%;
          box-sizing: border-box;
          background-color: transparent;
          border: none;
          color: rgb(3, 116, 190);
          &:focus{
            outline: none;
          }
        }
      }

      .disappear{
        display: none;
      }

      .image_form{
        margin-left: auto;
        flex-grow: 0;

        label[for='message_image']{
          cursor: pointer;
          font-size: 25px;
          margin: 0;
        }

        input{
          display: none;
        }
      }
    }
  }
}

@media screen and (min-width: 768px){
  .message_container{
    border-bottom: 1px solid #ccc;
  }
}
