.post-comment{
  .comment-context{
    img{
      width: 30px;
      border-radius: 50%;
    }
    span{
      font-weight: 600;
    }
  }
  .time{
    font-size: 12px;
    margin-left: 35px;
    margin-bottom: 20px;
    display: block;
  }
}
