// publisher scss
.OT_publisher{
  position: fixed;
  top: 0 ;
  left: 0;
  height: 100vh;
  z-index: 11;
}
.back-link{
  font-size: 36px;
  color:rgb(139, 139, 139);
  position: absolute;
  right: 0;
  z-index: 12;
  bottom: 40px;
}
// subscriber scss
.OT_subscriber{
  width: 100% !important;
  height: 100vh !important;
  position: fixed;
  top: 0 ;
  left: 0;
  z-index: 11;
}
.room-message{
  position: absolute;
  bottom: 0;
  z-index: 12;
  .message-text-area{
    .message + .message{
      margin-top: 10px;
    }
    .message{
      display: flex;

      .name{
        margin-right: 5px;
      }
    }
  }
}
