// publisher scss
.OT_publisher{
  position: fixed;
  top: 0 ;
  left: 0;
  height: 100vh;
  z-index: 11;
}
.back-link{
  font-size: 36px;
  color:rgb(139, 139, 139);
  position: absolute;
  right: 0;
  z-index: 12;
  bottom: 0;
}
// subscriber scss
.OT_subscriber{
  width: 100% !important;
  height: 100vh !important;
  position: fixed;
  top: 0 ;
  left: 0;
  z-index: 11;
}
