// .stories, .stories > *{
//   outline: blue solid 1px;
// }

.stories {
  height: 100vh;
  width: 100%;
  max-width: 500px;

  header {
    position: absolute;
    top: 0;
    z-index: 3;
  }

  .story-pic img{
    height: 100vh;
  }

  .owl-carousel {
    .owl-nav{
      position: absolute;
      top: 70px;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      button {
        height: 100%;
        width: 50px;
      }
    }
  }
}
