// .stories, .stories > *{
//   outline: blue solid 1px;
// }

.stories {
  height: 100vh;
  width: 100%;
  max-width: 500px;

  header {
    position: absolute;
    top: 0;
    z-index: 3;
    max-width: 500px;
    width: 100%;

    .btn-dot {
      display: inline-block;
      margin-left: auto;
      background-color: transparent;
      color: rgb(127, 207, 214);
      border-color: transparent;
      padding: 10px;
      font-size: 22px;
      outline: none;
    }

    .header-btn {
      .btn-home {
        font-size: x-large;
        background-color: transparent;
        border: none;
        color: whitesmoke;
        outline: none;
      }
    }
  }

  .story-pic img{
    height: 100vh;
  }

  .owl-carousel {
    .owl-stage {
      overflow: hidden;
      height: 100vh;
      .owl-item {
        width: 100%;
      }
    }

    .owl-nav{
      position: absolute;
      top: 70px;
      width: 100%;
      height: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      button {
        height: 100%;
        width: 50px;
      }
    }
    .owl-dots {
      position: absolute;
      top: 100px;
      height: 50px;
      width: 100%;
      z-index: 50;
    }
  }
}
