
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.warp {
  width: 380px;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.pic-div{
  height: 100%;
}
.pic-div div{
  height: 100%;
}
.header{
  width: 100%;
}

.menber{
  display:flex;
  align-items: center;
}

.menber-pic{
  width: 60px;
  padding: 5px;
}

.menber-name{
  padding: 5px;
}

.fun-btn{
  display: inline-block;
  margin-left: auto;
  background-color: transparent;
  color: rgb(127, 207, 214);
  border-color: transparent;
  padding: 5px;
  font-size: 22px;

}

.goroot{
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: x-large;
  background-color: transparent;
  border: none;
  color: whitesmoke;
  z-index: 100 !important;
}

.carousel-item img{
  height: 100%;
}

.carousel-indicators{
 bottom: initial;
}

.modal-fun{
  background-color: rgba(127, 207, 214, .6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.modal-fun.open{
  display: block;
}

.modal-card{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 300px;
  border-radius: 10px;
}

.modal-del{
  border-bottom: 1px solid #cccccc !important;
}

.modal-del,
.modal-cancel{
  width: 100%;
  text-align: center;
}
.modal-del a{
  width: 100%;
  display: block;
  padding: 10px;
  text-decoration: none;
  color:  red;
}

.modal-cancel a{
  width: 100%;
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
}
