.stories {
  height: 100vh;
  width: 100%;
  max-width: 500px;
  margin: auto;

  .member {
    position: absolute;
    top: 0;
    z-index: 3;
    // background: linear-gradient(180deg, #777 0%, transparent);
    max-width: 500px;
    width: 100%;
    color: #fff;
    padding-top: 50% 50%;

    .member-title{
      display: flex;
      align-items: center;
      padding: 5px;

      .member-pic{
        width: 50px;
        padding: 7px;

        img{
          width: 100%;
          border-radius: 100%;
        }

        .add-story{
          position: relative;

          &:after{
            height: 15px;
            width: 15px;
            position: absolute;
            content: "+";
            color: white;
            background-color: rgb(127, 207, 214);
            left: 70%;
            top: 80%;
            border-radius: 50%;
            text-align: center;
            line-height: 13px;
          }
        }
      }

      .member-name{
        margin: 0 10px;
      }

      .story-time{
        color: rgba(255, 255, 255, 0.6);
      }
    }

    .header-btn {
      display: flex;
      margin-left: auto;

      .btn-dot {
        display: inline-block;
        margin-left: auto;
        background-color: transparent;
        color: rgb(127, 207, 214);
        border-color: transparent;
        padding: 10px;
        font-size: 22px;
        outline: none;
      }

      .btn-home {
        font-size: x-large;
        background-color: transparent;
        border: none;
        color: whitesmoke;
        outline: none;
        position: relative;
      }
    }
  }

  .story-pic img{
    height: 100vh;
  }

  .owl-carousel {
    .owl-stage {
      overflow: hidden;
      height: 100vh;
      .owl-item {
        width: 100%;
      }
    }

    .owl-nav{
      position: absolute;
      top: 70px;
      width: 100%;
      height: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      button {
        background-color: rgba(255, 255, 255, 0.6);
        color: black;
        width: 25px;
        height: 25px;
        text-align: center;
        line-height: 25px;
        border-radius: 50%;
        font-size: 35px;
        outline: none;
        span{
          position: relative;
          top: -3px;
        }
      }
    }

    .time-dots{
      position: absolute;
      top: 5px;
      width: 100%;
      display: flex;
      z-index: 7;

      .time-dot{
        background-color: rgba(255, 255, 255, 0.6);
        flex-grow: 1;
        height: 3px;
        width: 100%;
        margin: 5px 3px;
        border-radius: 2px;
        outline: none;
      }

      .time-active{
        background-color:rgba(255, 255, 255, 1);
      }
    }
  }

  .modal-fun{
    background-color: rgba(127, 207, 214, .6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 4;

    .modal-card{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #fff;
      width: 300px;
      border-radius: 10px;

      .modal-del{
        border-bottom: 1px solid #cccccc !important;
      }

      .modal-del,
      .modal-cancel{
        width: 100%;
        text-align: center;
      }

      .modal-del a{
        width: 100%;
        display: block;
        padding: 10px;
        text-decoration: none;
        color:  red;
      }

      .modal-cancel a{
        width: 100%;
        display: block;
        padding: 10px;
        text-decoration: none;
        color: black;
      }
    }
  }
}
input[type="submit"].limit_submit{
  background: #7fcfd6;
  border: none;
  color: #fff;
  border-radius: 10px;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
}
/* RWD */
@media screen and (min-width: 768px) {
  .stories{
    .member{
      position: absolute;
      background: #262626;

      .member-title{
        height: 6vh;

        .member-pic{
          width: 40px;
          padding: 0px;
        }
      }
    }

    .owl-carousel {
      .time-dots{
        position: absolute;
        top: 9vh;
      }
    }
  }
}
