.post-load-page{
  overflow: auto;
  // height: calc(100vh - 120px);
  width: 100%;
  max-width: 740px;
  margin: auto;
}
.edit-profile{
  > a{
    height: 52px;
    line-height: 38px;
  }
}

@media (max-width:415px){
  .post-load-page{
    width: 100%;
    // height: 70vh;
  }
}
