.user-edit-group{
  position: relative;
  width: 100%;
  height: 40px;
  margin-bottom: 20px;

  label{
    position: absolute;
    bottom: 0px;
    pointer-events: none;
    transition: all .3s ease;
  }
  input,
  textarea{
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  border-bottom: 1px solid rgba(0,0,0, .12);
  padding-left: 50px;
  }
  textarea{
    resize: none;
  }

  input:focus,
  textarea:focus{
    outline: none;
  }

  .underline{
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
    &::before, &::after{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: #7fcfd6;
      transform: scaleX(0);
      transform-origin: center;
      transition: transform .3s ease;
    }
  }
}
#user-edit-pic{
  position: relative;
  width: 200px;
  height: 200px;
  margin: auto;
  cursor: pointer;
  &::before{
    content: '+';
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    position: absolute;
    bottom: 30px;
    right: 0;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: #7fcfd6;
    border-radius: 50%;
  }
  img{
  border-radius: 50%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  }
}
.user-edit-group:first-of-type{
  display: none;
}
#user_edit_btn{
  width: 100%;
  height: 50px;
  background-color: #7fcfd6;
  border: none;
  color: #fff;
  border-radius: 10px;
}
