<div class="user-story">
  <%= link_to user_stories_path(user) do %>
  <div class="user-video">
    <%= image_tag user.avatar.url, class: 'img-fluid rounded-circle' if user.avatar.present? %>
  </div>
  <div class="user-name text-black">
    <small><%= user.nick_name %></small>
  </div>
  <% end %>
</div>
