<div class="user-story">
  <%= link_to stories_path(user: user[:user].nick_name), data: {turbolinks: false} do %>
  <div class="user-video ml-3">
    <%= image_tag user[:user].avatar.url, class: 'img-fluid rounded-circle' if user[:user].avatar.present? %>
  </div>
  <div class="user-name text-black">
    <small><%= user[:user].nick_name %></small>
  </div>
  <% end %>
</div>
