<div class="user-story">
  <%= link_to user[:path] do %>
  <div class="user-video">
    <%= image_tag user[:user].avatar.url, class: 'img-fluid rounded-circle' %>
  </div>
  <div class="user-name text-black">
    <small><%= user[:user].nick_name %></small>
  </div>
  <% end %>
</div>
