<div class="user-story">
  <div class="user-video">
    <img src="https://picsum.photos/50/50" alt="" class="img-fluid rounded-circle">
  </div>

  <div class="user-name">
    <small>Jerry</small>
  </div>
</div>
