<div class="user-story pb-4 mr-3">
  <%= link_to user[:path], data: {turbolinks: false} do %>
  <div class="user-video">
    <%= image_tag user[:user].avatar.url, class: 'img-fluid rounded-circle' if user[:user].avatar.present? %>
    <div>
      <small><%= user[:user].nick_name %></small>
    </div>
  </div>
  <% end %>
</div>
