<section class="stories w-100 m-auto" data-self-name=<%= @user %> data-users=<%= @viewable_users %>>
  <header class="d-flex align-items-center w-100">

    <div class="user-avatar" style="width: 50px">
      <img src="https://picsum.photos/200/200/?random=1" class="rounded-circle w-100">
    </div>

    <div class="user-name ml-2 mr-2">
      <span>台北暴徒</span>
    </div>

    <!--時間---->
    <div class="story-time">
      <span>Time</span>
    </div>


    <div class="header-btn ml-auto">
      <!-----選單--->
      <button class="btn-dot">
        <i class="fas fa-ellipsis-h"></i>
      </button>
      <!---回首頁------->
      <button class="btn-home">
        <%= link_to root_path do %>
          <i class="fas fa-times"></i>
        <% end %>
      </button>
    </div>
  </header>

  <div class="stories-main owl-carousel">
  </div>


</section>
