<section class="stories w-100 m-auto"
  data-current-user="<%= @current_user.nick_name %>"
  data-user-name="<%= @user_name %>"
  data-prev-user=""
  data-next-user=""
  data-story-index="0"
  data-story-id=""
>
  <header class="member  w-100 py-2 px-2">
    <div class="member-title d-flex align-items-center">
      <div class="member-pic">
          <img src="" class="rounded-circle w-100">
      </div>

      <div class="member-name ml-2 mr-2">
        <span>User Name</span>
      </div>

      <!--時間---->
      <div class="story-time create_time">
        <span>Story Time</span>
      </div>

      <div class="header-btn ml-auto d-flex">
        <!-----選單--->
        <button class="btn-dot" style="display: none;">
          <i class="fas fa-ellipsis-h"></i>
        </button>

        <!---回首頁------->
        <button class="btn-home">
          <%= link_to root_path do %>
            <i class="fas fa-times"></i>
          <% end %>
        </button>
      </div>

    </div>
  </header>

  <div class="story-pic">
    <!-- 以下輪播 -->
  </div>

  <div class="modal-fun">
    <div class="modal-card">
      <div class="modal-del">
        <a href="#">刪除</a>
      </div>
      <div  class="modal-cancel">
        <a href="#" >取消</a>
      </div>
    </div>
  </div>
</section>
