<div class="wrap">

  <h4 class="search-post-title">搜尋</h4>
  <%= form_with(url: search_searches_path, method: :get, class: "search-form") do |f| %>
  <%= f.text_field :keyword %>
  <%= f.submit "Search" %>
  <% end %>

  <div class="search-result w-100 bg-light">

  </div>
</div>
