<%= render "form" %>

<div class="post-load-page">
  <h4>精選貼文</h4>
  <div class="overflow-hidden">
    <div class="post-load-target rand-posts search-page-photo">
      <%= render partial: "/posts/post_img", collection: @posts, as: :post %>
        <%= render partial: "/shared/loading" %>
    </div>
  </div>
</div>
