<div>
  <%= render partial: "shared/title_with_prev", locals: { title: "精選貼文" } %>
</div>
<%= render "form" %>
<div class="post-load-page">
  <div class="overflow-hidden">
    <div class="post-load-target rand-posts search-page-photo">
      <%= render partial: "/posts/post_img", collection: @posts, as: :post %>
        <%= render partial: "/shared/loading" %>
    </div>
  </div>
</div>
