<div class="user-post">
  <!--User info---------------->
  <div class="user-info d-flex align-items-center p-2">
    <div class="user-photo">
      <%= image_tag post.user.avatar_url, class: "rounded-circle img-fluid" %>
    </div>

    <div class="user-name ml-2">
      <strong><%= link_to post.user.nick_name, user_path(post.user), class: 'text-black' %></strong>
    </div>
    <!--Button---------------->
    <%= render partial: "posts/post_btn", locals: {post: post} %>
  </div>
</div>
