<div class="col-4">
  <%= link_to user_posts_path(@user) do %>
    <%= image_tag post.image.url, class: "w-100" %>
  <% end %>
</div>

<template id="post-template">
  <div class="col-4">
    <%= link_to user_posts_path(@user) do %>
      <img src="" class="w-100">
    <% end %>
  </div>
</template>
