<div class="post-load-page" style="overflow: auto; height: 100vh;">
  <div class="container-fluid container-md">
    <!------貼文列表--------------------------------------------->
    <div class="row">
      <div class="col-12 col-md-7 px-0 pb-3 user-posts post-load-target" data-is-end="not yet">
        <%= render partial: "/posts/post", collection: @posts, as: :post %>
        <%= render "/shared/loading" %>
      </div>
    </div>
  </div>
</div>
